<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="OktaTutorial.Xamdroid.OktaTutorial.Xamdroid">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="27" />
	<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">
		<!-- Callback from authentication screen -->
		<activity android:name="net.openid.appauth.RedirectUriReceiverActivity">
			<!-- Filter which captures custom scheme based redirects for Okta authorization requests. -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="com.oktapreview.dev-408705" />
			</intent-filter>
		</activity>
	</application>
</manifest>